# Mongo
POSTGRESQL_URL=

# Redis
REDIS_URL=

# TimescaleDB

# Security
SECRET="RUN: openssl rand -hex 32"
ALGORITHM=

# Sentry
SENTRY_DSN=

# Email
EMAIL_ENDPOINT=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=

# Firebase
FIREBASE_CREDENTIALS=
